//greeting styling
.home {
    width: 100%;
    height: 100%;
    // height: 90%;
    position: absolute;
    // background-image: asset_url('background_6.jpg');
    // background-image: asset_url('splash.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.session-navbar {
    display: flex;
    width: 100%;
    // height: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    // background-color: rgb(201, 29, 29);
    // background-color: #db0e0e;
    // justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    // margin-left: 20px;
}

// .session-navbar-contents {
//     padding-left: 20px;
// }

.signup-login {
    // width: 100px;
    // padding-right: 240px;
    padding-left: 335px;
    // padding-left: 400px;
    // padding-right: 150px;
}

.signup-login a {
    color: white;
    padding: 10px;
    text-decoration: none;
    // margin: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    // position: relative;
    white-space: nowrap;
}

.signup {
    border: 2px solid white;
    border-radius: 4px 4px 4px 4px;
    // margin-right: 240px;
}

.login {
    margin-right: 5px;
}

.signup-login a:hover {
    cursor: pointer;
}

.login:hover {
    border-bottom: 2px solid white;
}

.signup:hover {
    // color: black;
    color: gray;
    background-color: white;
    transition: 0.5s;
}

// .logout-dropdown {
//     margin-right: 250px;
// }

.github-linkedin-link {
    // width: 100px;
    // // padding-left: 240px;
    padding-right: 335px;
    // padding-left: 150px;
}

.github-linkedin-link a {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.github-linkedin-link a:hover {
    cursor: pointer;
    // text-decoration: underline;
    border-bottom: 2px solid white;
}

.header-title {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 75px;
    // color: black;
    text-shadow:
		-1.5px -1.5px 0 #fff,
		1.5px -1.5px 0 #fff,
		-1.5px 1.5px 0 #fff,
    	1.5px 1.5px 0 #fff;
    // text-shadow:
	// 	-2px -2px 0 #fff,
	// 	2px -2px 0 #fff,
	// 	-2px 2px 0 #fff,
    // 	2px 2px 0 #fff;
    // text-shadow: -2px -2px white;
}

.header-title a {
    text-decoration: none;
    padding: 10px;
    color: black;
    text-shadow: stroke(5, white);
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

//LOGOUT DROPDOWN////////////////////////////
/* The dropdown container */
.logout-dropdown {
    // display: flex;
    float: left;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    // padding-right: 240px;
    // padding-left: 100px;
    // padding-left: 335px;
    // width: 200px;
}

.dropbtn {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Dropdown button */
.logout-dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    // background-color: inherit;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    // margin: 10px;
    padding: 10px;
    // width: 200px;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    // padding-bottom: 5px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}


/* Add a red background color to navbar links on hover */
.logout-dropdown:hover .dropbtn {
    background-color: white;
    border-radius: 4px 4px 4px 0;
    // background-color: transparent;
    color: black;
    // color: white;
    // text-decoration: underline;
    // width: 200px;
}

/* Dropdown content (hidden by default) */
.logout-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.logout-link:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    text-decoration: underline;
}

/* Links inside the dropdown */
.logout-dropdown {
    // padding-left: 400px;
    // margin-left: 400px;
    margin-left: 335px;
    // margin-left: 325px;
}

.logout-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

// .dropbtn {
//     // margin-left: 20px;
// }

// .dropbtn:hover {
//     text-decoration: none;
//     background-color: transparent;
// }

/* Add a grey background color to dropdown links on hover */
// .logout-dropdown-content a:hover {
// //   background-color: #ddd;
// //   background-color: transparent;
//     // background-color: none;
//     // text-decoration: none;
// }

/* Show the dropdown menu on hover */
.logout-dropdown:hover .logout-dropdown-content {
  display: block;
  border-radius: 0 0 4px 4px;
//   background-color: transparent;
}

.logout-link:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(33,33,33,.2);
}

.splash-profile-pic {
    // width: 20px;
    // height: 20px;
    width: 25px;
    height: 25px;
    // padding-top: 10px;
    padding: 5px;
    margin-left: 5px;
    // margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}

// .splash-background-cover {
//     top: -20%;
// }

.splash-background-cover img {
    // position: absolute;
    // position: relative;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // height: 60%;
    opacity: 0.9;
    // -webkit-filter: grayscale(30%);
    // filter: grayscale(30%);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.splash-contents {
    z-index: 10;
    position: absolute;
    background-size: cover;
    top: 0;
    width: 100%;
}

.footer-img img {
    // display: flex;
    // justify-content: center;
    width: 100%;
    // height: 20px;
    // object-fit: fill;
    padding-top: 20px;
}