// .business-index-render {
//     display: flex;
//     justify-content: center;
// }

.business-index {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    // width: 900px;
    // flex-direction: row;
}

.business-list {
    display: flex;
    justify-content: flex-start;
}

// .business-list-sections {
//     display: flex;
//     border-top: solid 1px gray;
// }

.business-index-item {
    display: flex;
    border-top: solid 1px gray;
    padding: 15px;
}

// .business-item-link li {
//     list-style-position: inside;
// }

.business-item-rating {
    display: flex;
}

.business-item-price {
    display: flex;
}

.business-item-description {
    display: flex;
}

.business-item-contact-info {
    display: flex;
}
////////////////////////////////////// MAP /////////////@

// .business-index-map {
//     position: sticky;
//     height: 500px;
//     width: 500px;
// }

#business-map {
    position: sticky;
    height: 350px;
    width: 350px;
}

.business-index-map {
    position: sticky;
    padding-top: 16px;
}


////////////////////////////business index item/////////////////////////////////

.business-item-link {
    // display: flex;
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
    font-size: 18px;
}

.business-item-info {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    // columns: 2;
    // column-gap: 10px;
    flex-flow: row wrap;
}

.business-photo {
    display: flex;
    justify-content: left;
}

.business-index-item-left {
    padding: 10px;
    display: flex;
    // justify-content: left;
    // float: left;
    flex-direction: column;
    // align-items: flex-start;
    flex: 1 1 auto;
    text-align: left;
}

.business-index-item-right {
    display: flex;
    flex: 1 1 auto; 
    flex-direction: row-reverse;
    // float: right;
    // justify-content: flex-end;
    text-align: right;    
}

// .business-item-phone-number {
//     float: right;
// }

.business-item-description {
    flex: 1 1 auto;
    // text-align: right;
}

// .business-index-item-left > div {
//     flex-wrap: wrap;
// }

// .business-item-name {
//     display: flex;
// }

// .business-item-rating {
//     display: flex;
// }

// .business-item-price {
//     display: flex;
// }

.business-item-contact-info {
    padding: 10px;
    display: flex;
    // justify-content: right;
    // float: right;
    // text-align: right;
    flex-direction: column;
}

.business-item-description {
    padding: 10px;
    display: flex;
    // flex-wrap: wrap;
    word-wrap: break-word;
}