.business-container {
    display: flex;
    // justify-content: flex-start;
    justify-content: center;
    // list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;
}

.business-show-intro {
    display: flex;
    justify-content: space-between;
}

.business-show-title {
    display: inline;
    
}

.business-map {
    display: flex;
}

.sub-navbar {
    display: flex;
    // float: right;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

// .business-info {
    
// }