.business-container {
    display: flex;
    // justify-content: flex-start;
    justify-content: center;
    // justify-content: space-between;
    // list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 15px;
    // width: 100%
    flex-flow: row wrap;
}

.business-show-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}

.business-show-title {
    display: inline;
    // display: flex;
    flex: 1 1 auto;    
}

.business-price-category > span {
    padding-right: 5px;
}

.business-show-title-category {
    color: royalblue;
}

.business-show-write-review {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding-top: 40px;
}

.business-show-write-review a {
    background-color: rgb(201, 29, 29);
    // background-color: #db0e0e;
    border: none;
    color: white;
    // padding: 10px 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    // display: flex;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    // height: 50px;
    // text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    opacity: 1;
}

.business-show-write-review a:hover {
    transition: 0.5s;
    opacity: 0.8;    
}

// .business-show-review-button {
//     background-color: rgb(201, 29, 29);
//     // background-color: #db0e0e;
//     border: none;
//     color: white;
//     padding: 10px 10px;
//     text-align: center;
//     text-decoration: none;
//     // display: inline-block;
//     // display: flex;
//     font-size: 16px;
//     border-radius: 4px;
//     width: 150px;
//     // height: 50px;
//     text-transform: capitalize;
//     font-family: Arial, Helvetica, sans-serif;
// }

.business-show-review-button:hover {
    cursor: pointer;
    transition: 1.0s;
    // opacity: 1;
}


.business-info-box {
    display: flex;
    flex: 1 1 auto;    
    flex-flow: row wrap;
}

.business-map-and-info {
    // border: solid 1px gray;
    // height: 300px;
    // width: 200px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 30px;
}

.business-map-and-info-left {
    border: solid 1px gray;
    height: 300px;
    width: 300px;
    // display: inline;
}

.business-map-and-info-left > div {
    padding-top: 5px;
    padding-left: 10px;
}

// .business-map {
    //     width: 100px;
    //     height: 100%;
    // }

// .business-map {
//     display: flex;
// }
    
.business-map-box {
    display: flex;
    // width: 100%;
    // height: 50%;
    width: 280px;
    height: 100px;
}

// .business-map-box

.business-address {
    font-weight: bold;
}

.business-address > span {
    padding-right: 3px;
}

.business-website a {
    text-decoration: none;
    color: royalblue;
}

.review-index-and-info {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.review-index-list {
    // display: flex;
    display: inline;
    flex: 1 1 auto;
    float: left;
    width: 500px;
    margin-right: 30px;
}

.review-index-header {
    display: flex;
    // display: inline;
    flex: 1 1 auto;
    width: 100%;
    border-bottom: solid 1px lightgray;
    padding-bottom: 20px;
}

.review-index-header > span {
    padding-right: 5px;
}

.review-recommend {
    font-weight: bold;
    color: rgb(201, 29, 29);
    font-size: 23px;
}

.for-business {
    font-size: 23px;
}

.right-column-info {
    display: inline;
    width: 50px;
    height: 100%;
    flex: 1 1 auto;
    justify-content: flex-end;
    float: right;
    border-left: solid 1px lightgray;
    padding-left: 30px;
}

.right-column-info > div {
    flex-wrap: nowrap;
    // height: 40px;
    padding-top: 10px;
}

.business-hours > div {
    padding-top: 5px;
    font-size: 15px;
}

.business-hours {
    padding-bottom: 20px;
}

.more-business-info-title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(201, 29, 29);
}

.business-answers {
    font-weight: bold;
    padding-left: 5px;
}

.below-review-header {
    display: flex;
    // display: inline;
    // width: 100%;
    // padding-top: 20px;
    padding-bottom: 20px;
    // border-bottom: solid 1px lightgray;   
}

.business-review-start-review a {
    display: flex;
    justify-content: center;
    width: 275px;
    margin: 20px 30px 20px 250px;
    text-decoration: none;   
    color: royalblue;
    padding: 20px 50px;
    border: solid 1px lightgray;
    background-color: rgb(238, 237, 237);
    border-radius: 4px;
}

.business-review-start-review {
    border-bottom: solid 1px lightgray;
    // overflow-wrap: break-word;
}

.business-show-review-container {
    display: flex;
    // display: inline;
    flex: 1 1 auto;
    // flex-flow: row wrap;
}

// .sub-navbar {
//     display: flex;
//     width: 100%;
//     // float: right;
//     justify-content: flex-end;
//     font-family: Arial, Helvetica, sans-serif;
//     background-color: lightgray;
//     padding-top: 10px;
//     padding-bottom: 10px;
// }

// .sub-navbar a {
//     padding-left: 100px;
//     padding-right: 100px;
// }

// .business-info {
    
// }