.navbar-container {
    // justify-content: center;
    width: 100%;
}

.default-navbar {
    display: flex;
    width: 100%;
    // height: 10px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    // padding-left: 8px;
    // margin-left: 8px;
    background-color: rgb(201, 29, 29);
    // background-color: #db0e0e;
    // justify-content: center;
    justify-content: space-between;
    // justify-content: space-around;
    // justify-content: space-evenly;
    flex-direction: row;
    white-space: nowrap;
}

// .nav-user {
//     float: right;
// }

.nav-logo {
    display: flex;
    font-size: 20px;
    // text-shadow:
	// 	-1.5px -1.5px 0 #fff,
	// 	1.5px -1.5px 0 #fff,
	// 	-1.5px 1.5px 0 #fff,
    // 	1.5px 1.5px 0 #fff;
    padding-left: 15px;
    // padding-right: 10px;
    padding-right: 5px;
}

.nav-logo a {
    text-decoration: none;
    // padding: 0px 10px 0px 0px;
    padding: 10px;
    color: black;
    // text-shadow: stroke(5, white);
    // text-shadow: 2px white;
    // outline: 2px solid white;
    font-weight: bold;
    // font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
		-1.5px -1.5px 0 #fff,
		1.5px -1.5px 0 #fff,
		-1.5px 1.5px 0 #fff,
		1.5px 1.5px 0 #fff;
}

// .navbar-signup-login {
//     float: right;
// }

///////////////////////////////////////////////////////////////////////////////

// .nav-search-bar {
//     display: flex;
//     // justify-content: center;
//     width: 100%;
//     flex-direction: row;
//     border: none;
//     // border-radius: 5px 5px 5px 5px;
// }

.nav-search-bar {
    padding-top: 1px;
}

.nav-find-text {
    padding: 11px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-near-text {
    padding: 11px;
    border-left: solid 1px grey;
    font-weight: bold;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-find-container {
    background-color: white;
    // color: lightgray;
    color: black;
    padding: 10px 11px 11px 11px;
    font-size: 15px;
    // width: 280px;
    width: 275px;
    border: none;
    outline: none;
    // height: 15px;
}

// .nav-search-find {
//     padding: 15px;
// }

// .nav-search-near {
//     padding: 15px;
// }

.nav-near-container {
    background-color: white;
    // color: lightgray;
    color: black;
    // padding: 10px;
    padding: 10px 11px 11px 11px;
    font-size: 15px;
    // width: 230px;
    width: 220px;
    border: none;
    outline: none;
    // padding: 10.5px;
}

.nav-search-button {
    // background-color: rgb(201, 29, 29);
    background-color: rgb(179, 10, 10);
    color: white;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px 12px 15px;
    border: none;
}

.nav-search-button:hover {
    color: white;
    background-color: darkred;
    transition: 0.5s;
}

///////////////////////////////////////////////////////////////////////////////

.navbar-signup-login {
    padding: 12px;
}

.navbar-signup-login a {
    // color: white;
    padding: 10px;
    text-decoration: none;
    // margin: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-signup {
    // border: 1px solid white;
    // border: 1px solid darkred;
    border-radius: 4px 4px 4px 4px;
    // margin-right: 250px;
    color: black;
    background-color: white;
}

.navbar-login {
    margin: 5px;
    color: white;
    border: 1px solid darkred;
    // border: 1px solid white;
    border-radius: 4px 4px 4px 4px;
}

.navbar-signup-login a:hover {
    cursor: pointer;
}

.navbar-login:hover {
    color: white;
    background-color: darkred;
    transition: 0s;
}

// .navbar-login:hover {
//     border-bottom: 2px solid white;
// }

// .navbar-signup:hover {
//     color: gray;
//     background-color: white;
//     transition: 0.5s;
// }

.sub-navbar {
    display: flex;
    width: 100%;
    // justify-content: flex-end;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 237, 237);
    padding-top: 10px;
    padding-bottom: 10px;
    // padding-left: 100px;
    // padding-right: 100px;
    white-space: nowrap;
}

.sub-navbar a:hover {
    color: royalblue;
    background-color: white;
    transition: 0s;
}

.sub-navbar-right {
    padding-right: 140px;
    padding-left: 250px;
    // padding-left: 200px;
}

.sub-navbar-right a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-navbar-left {
    padding-left: 140px;
    // justify-content: space-evenly;
}

.sub-navbar-left a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-navbar a {
    // padding-left: 100px;
    // padding-right: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    padding-top: 10px;
    padding-bottom: 10px;
}


//LOGOUT DROPDOWN////////////////////////////

// .nav-user {
//     display: flex;
// }

// .nav-user {
//     display: flex;
//     // width: 100%;
//     // height: 10px;
//     // padding-top: 25px;
//     // padding-bottom: 25px;
//     // background-color: rgb(201, 29, 29);
//     // background-color: #db0e0e;
//     // justify-content: space-between;
//     justify-content: center;
//     flex-direction: row;
//     // margin-left: 20px;
// }

/* The dropdown container */
.navbar-logout-dropdown {
    // display: flex;
    // float: left;
    // overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    // padding: 10px 100px 10px 5px;
    margin: 2px 100px 2px 5px;
    // margin: 5px;
    // border-radius: 4px 4px 4px 4px;
    // color: black;
    // background-color: white;
}

.review-navbar-logout-dropdown {
    // display: flex;
    // float: left;
    // overflow: hidden;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    // padding: 10px 100px 10px 5px;
    margin: 2px 140px 2px 5px;
    // margin: 5px;
    // border-radius: 4px 4px 4px 4px;
    // color: black;
    // background-color: white;
}

.navbar-dropbtn {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    // border-radius: 4px 4px 4px 4px;
    // color: black;
    // background-color: white;
}

/* Dropdown button */
.navbar-logout-dropdown .navbar-dropbtn {
// .navbar-logout-dropdown .navbar-drop-user {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px 4px 4px 4px;
    color: black;
    background-color: white;
    // background-color: rgba(255,255,255,0.5);
    padding: 10px;
}

.review-navbar-logout-dropdown .navbar-dropbtn {
// .navbar-logout-dropdown .navbar-drop-user {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px 4px 4px 4px;
    color: black;
    background-color: white;
    // background-color: rgba(255,255,255,0.5);
    padding: 10px;
}


/* Add a red background color to navbar links on hover */
.navbar-logout-dropdown:hover .navbar-dropbtn {
// .navbar-logout-dropdown:hover .navbar-drop-user {
    // background-color: white;
    // background-color: transparent;
    background-color: rgb(201, 199, 199);
    // color: black;
    color: white;
    border-radius: 4px;
    // text-decoration: underline;
}

.review-navbar-logout-dropdown:hover .navbar-dropbtn {
// .navbar-logout-dropdown:hover .navbar-drop-user {
    // background-color: white;
    // background-color: transparent;
    background-color: rgb(201, 199, 199);
    // color: black;
    color: white;
    border-radius: 4px;
    // text-decoration: underline;
}

/* Dropdown content (hidden by default) */
.navbar-logout-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    // min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    // float: left;
    // justify-content: right;
}

/* Links inside the dropdown */
// .logout-dropdown {
//     // padding-left: 400px;
// }

.navbar-logout-dropdown-content a {
    float: none;
    // float: right;
    color: black;
    // padding: 12px 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

// .navbar-logout-link {

// }

.navbar-logout-link:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    text-decoration: underline;
}

// .dropbtn {
//     // margin-left: 20px;
// }

.navbar-dropbtn:hover {
// .navbar-drop-user:hover {
    text-decoration: none;
    background-color: transparent;
}

/* Add a grey background color to dropdown links on hover */
// .logout-dropdown-content a:hover {
// //   background-color: #ddd;
// //   background-color: transparent;
//     // background-color: none;
//     // text-decoration: none;
// }

/* Show the dropdown menu on hover */
.navbar-logout-dropdown:hover .navbar-logout-dropdown-content {
    display: block;
    border-radius: 0 0 4px 4px;
//   background-color: transparent;
}

.review-navbar-logout-dropdown:hover .navbar-logout-dropdown-content {
    display: block;
    border-radius: 0 0 4px 4px;
//   background-color: transparent;
}

.profile-pic {
    width: 20px;
    height: 20px;
    padding-top: 10px;
}