.review-form-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.review-form-nav {
    display: flex;
}

.review-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.review-form h1 {

}

.rating-contents {
    
}