.review-form-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.review-form-nav {
    display: flex;
}

.review-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // border: solid 1px gray;
}

.review-form-inputs {
    border: solid 1px lightgray;  
    margin-left: 30px;  
    padding: 20px;
    width: 500px;
}

.nav-logo span {
    color: white;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

// .review-form h1 {

// }

// .rating-contents {
    
// }