// .review-profile {
//     display: flex;
//     flex-direction: row;
// }

// .review-content {
//     display: flex;
// }

.review-contents {
    display: flex;
    border-bottom: solid 1px lightgray;
    padding: 20px 0px;
}

.business-review-author {
    // display: flex;
    display: inline;
    padding-right: 75px;
    white-space: nowrap;
    width: 70px;
}

.business-review-text {
    // display: flex;
    display: inline;
    width: 540px;
}   


//////////////////// REVIEW-INDEX-ITEM ////////////////////

.edit-review-link {
    text-decoration: none;
    color: royalblue;
    font-size: 13px;
    // border-top: solid 1px lightgray;
    // padding-top: 10px;
    // margin-top: 10px;
}

.edit-review-link:hover {
    text-decoration: underline;
}