// .review-profile {
//     display: flex;
//     flex-direction: row;
// }

// .review-content {
//     display: flex;
// }

.review-contents {
    display: flex;
    border-bottom: solid 1px lightgray;
    padding: 20px 0px;
}

.business-review-author {
    // display: flex;
    display: inline;
    padding-right: 75px;
    white-space: nowrap;
    width: 70px;
}

.business-review-text {
    // display: flex;
    display: inline;
    width: 540px;
}   