.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    border: none;
    // border-radius: 5px 5px 5px 5px;
    white-space: nowrap;
}

// .search-find {
//     // width: 500px;
// }

// .search-near {
//     // width: 500px;
// }

.find-text {
    padding: 16px 15px 15px 15px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.near-text {
    padding: 16px 15px 15px 15px;
    border-left: solid 1px grey;
    font-weight: bold;
    color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.find-container {
    background-color: white;
    // color: lightgray;
    color: black;
    padding: 15px;
    font-size: 15px;
    width: 400px;
    border: none;
    outline: none;
}

.near-container {
    background-color: white;
    // color: lightgray;
    color: black;
    padding: 15px;
    font-size: 15px;
    width: 350px;
    border: none;
    outline: none;
}

.search-button {
    background-color: rgb(201, 29, 29);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

.search-button:hover {
    transition: 0.5s;
    color: white;
    background-color: darkred;
}

.search-shortcuts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    text-shadow: 1px 1px 0 0 black;
    padding-bottom: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.search-shortcuts a:hover {
    cursor: pointer;
    text-decoration: underline;
}

// .favorites {
//     display: flex;
//     justify-content: center;
// }

.favorites-header h2 {
    display: flex;
    justify-content: center;
    color: rgb(201, 29, 29);
    padding-top: 20px;
    // border-top: solid 1px gray;
    font-family: Arial, Helvetica, sans-serif;
}

.favorites {
    padding-top: 75px;
}

.favorites-list {
    display: flex;
    justify-content: space-evenly;
}

.favorites-list a {
    text-decoration: none;
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.favorites-list a:hover {
    text-decoration: underline;
}

.favorites-birite, .favorites-saltstraw, .favorites-fentons {
    display: flex;
    flex-direction: column;
    // border: solid 1px gray;
    border: solid 1px rgb(214, 214, 214);
    border-radius: 5px;
    // justify-content: center;
}

.favorites-birite:hover, .favorites-saltstraw:hover, .favorites-fentons:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.saltstraw-info, .fentons-info, .birite-info {
    padding: 10px;
}

.saltstraw-info > div, .fentons-info > div, .birite-info > div {
    padding-top: 10px;
}

.favorite-photo img {
    width: 300px;
    height: auto;
    border-radius: 4px 4px 0 0;
}

// .favorite-rating {

// }

.favorite-category {
    text-decoration: none;
    // color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.favorite-location {
    text-decoration: none;
    // color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.to-all-businesses {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.to-all-businesses a {
    text-decoration: none;
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.to-all-businesses a:hover {
    text-decoration: underline;
}