//SESSION STYLING
.session-form-header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(201, 29, 29);
}

.session-form-header h3 {
    font-size: 22px;
    color: white;
}

.session-form a {
    text-decoration: none;
}

.formtype-header {
    text-transform: capitalize;
}

// .to-scoop {

// }
