//SESSION STYLING
.session-form-header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(201, 29, 29);
    // background-color: #db0e0e;
}

// .session-form-header span {
//     color: white;
//     padding: 10px;
//     font-weight: bold;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 20px;
// }

.session-form-header h3 {
    font-size: 22px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.session-form a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.session-form {
    font-family: Arial, Helvetica, sans-serif;
}

// .session-info {
//     // display: flex;
//     // justify-content: center;
// }

.session-form-textbox {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

.formtype-header {
    text-transform: capitalize;
    // display: flex;
    // justify-content: center;
}

.session-intro {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

.session-intro a {
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.session-intro a:hover {
    text-decoration: underline;
}

// .demo-login {

// }

.demo-text {
    font-size: 13px;
}

.demo-button {
    // background-color: #008CBA;
    // background-color: rgb(36, 36, 170);
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 280px;
    font-family: Arial, Helvetica, sans-serif;
}

.demo-button:hover {
    cursor: pointer;
    transition: 1.0s;
}

.demo-text {
    font-family: Arial, Helvetica, sans-serif;
}

.session-info {
    // display: flex;
    padding-bottom: 25px;
    // justify-content: center;
}

.or-divider {
    text-align: center;
    border: none;
    border-top: solid 1px gray;
    // width: 250px;
    width: 270px;
    padding-bottom: 25px;
}

.or-divider legend {
    color: gray;
    padding: 0 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

// .session-inputs {
//     // border-radius: 5px;
// }

.session-fname-input {
    background-color: white;
    border: solid 1px gray;
    outline: none;
    border-radius: 4px;
    // width: 110px;
    width: 250px;
    margin-right: 9px;
    padding: 5px 10px;
    font-size: 14px;
}

.session-lname-input {
    background-color: white;
    border: solid 1px gray;
    outline: none;
    border-radius: 4px;
    // width: 110px;
    width: 250px;
    margin-right: 9px;
    padding: 5px 10px;
    font-size: 14px;
}

.session-emailpassword-input {
    background-color: white;
    border: solid 1px gray;
    outline: none;
    border-radius: 4px;
    width: 250px;
    padding: 5px 10px;
    font-size: 14px;
}

// .session-email .session-password {
//     // border-radius: 5px;
// }

.session-button {
    background-color: rgb(201, 29, 29);
    // background-color: #db0e0e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 280px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.session-button:hover {
    cursor: pointer;
    transition: 1.0s;
}

.session-continue-text {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.session-intro-footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-weight: bold;
}

.session-intro-footer a {
    text-decoration: none;
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.session-errors {
    color: red;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}